body {
   background: linear-gradient(green, yellow, orange, #A24E00, #6b4700);
   cursor: url(fruit.jpg);
}

h1 {
  font-size: 40px;
  color: yellow;
  font-family: 'Lora', serif;
  margin: 50px;
  position: fixed;
  float: right;
}


#star-five {
float: left;
   margin: 50px 25px 50px 25px;
   position: relative;
   color: white;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
#star-five:before {
   border-bottom: 80px solid ;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five:after {
   position: absolute;
   display: block;
   color: white;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid ;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}
img {
  height: 200px;
  width: 200px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.green img {
  height: 100px;
  width: 100px;
  margin: 50px;
}
 .green img:hover {
  width: 50px;
  height: 50px;
     -webkit-transform: rotate(-180deg);
}


.greeneryellow img {
  height: 150px;
  width: 150px;
}
 .greeneryellow img:hover {
  width: 100px;
  height: 100px;
     -webkit-transform: rotate(-90deg);
}


 .greenyellow img:hover {
  width: 150px;
  height: 150px;
     -webkit-transform: rotate(-90deg);
}


 .greenyellower img:hover {
  width: 250px;
  height: 250px;
     -webkit-transform: rotate(-90deg);
}


 .yellow img:hover {
  width: 500px;
  height: 500px;
     -webkit-transform: rotate(-360deg);
}


 .yellowerorange img:hover {
  width: 150px;
  height: 150px;
     -webkit-transform: rotate(-90deg);
}


 .yelloworange img:hover {
  width: 100px;
  height: 100px;
}


.orange img {
  height: 150px;
  width: 150px;
  margin: 40px;
}
 .orange img:hover {
  width: 50px;
  height: 50px;
}