h2 {
	background-color: white;
}
#row1 {
	color: white;
	background-color: black;
}
#row3 {
	color: white;
	background-color: black;
}
body {
	font-family: Georgia;
	color: #7a0a00;
	background-color: #eaeaea;

}