.column {
	width: 25%;
	background-color: black;
	border: 1px solid cyan;
	padding: 15px;
	float: right;
	margin: 2em;
}

.jljljl {
	width: 5%;
	background-color: magenta;
	border: 1px solid black;
	padding: 5px;
	float: left;
	margin: 5px;
}

.text {
	background-color: yellow;
	font-size: 22px;
	font-style: italic;
}