
a {
	text-decoration:none;
	}
h1 {
	stroke-color: #3f00ff;
	color: none;
	position: absolute;
	font-size: 20px;
	font-family: 'Encode Sans Expanded', sans-serif;
}
canvas {
	width: 100vw;
	height: 100vh;
}

body {
	background-color: black;
    cursor:move;
}