#name {
	max-width: 10%;
	filter: invert(100%);
	margin-bottom: -30px;
	margin-right: -20px;
}
#menu {
	font-size: 20px;
	text-align: right;
	margin-right: 40px;
	position: absolute;
	right: 0;
}
a{
	color:white;
	text-decoration: none;
}
h1 {
	size: 50px;
	text-align: right;
	margin-right: 50px;
}
body {
	margin-left: 50px;
	margin-top: 100px;
	font-family: 'Roboto Mono', monospace;
	background-color: black;
	color: white;
}
#menu a:hover{
	text-decoration: underline;
	color: yellow;
}