#works img{
	width: 50%;

}
#name {
	max-width: 20%;
	filter: invert(100%);
	margin-bottom: -30px;
	margin-right: -20px;
}

#worksok img{
	width: 50%;
	float: right;
	display: inline;
	}

h1 {
	size: 50px;
}
body {
	font-weight: bold;
	margin-left: 50px;
	margin-top: 100px;
	font-family: 'Roboto Mono', monospace;
	background-color: black;
	color: white;
}

p {
	max-width: 500px;
	size: 30px;
}
