
#box1 {
	background-color: #aafff9;
	opacity: .4;
	height: 90px;
	width: 100%;
	position: fixed;
}

.texture {
	max-height: 50%;
	position: fixed;
}
h1{
	font-size:50px;
	color: black;
	float: left;
}
body {
	font-family: 'Helvetica';
	margin-left: 50px;
	margin-top: 100px;
	float:left;
}

a{
	text-decoration: none;
	color: yellow;
}

h3{
	position: fixed;
}